*{
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}
#result-msg{
  display: none;
}
input{
  width: 30vw;
  height: 15vh;
  font-size: 2em;
}
button{
  width: 10vw;
  height: 10vh;
  background-color: bisque;
  font-size: 1em;
}
@media only screen and (max-width: 600px) {
  input{
    width: 50vw;
    height: 50px;
    font-size: 1em;
  }
  button{
    width: 25vw;
    height: 5vh;
  }
}
